{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>维新电影-最新免费高清电影</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wx_logo.png' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'lib/css/core.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>


</head>
<body>


<div class="favor-site-wrapper fixed-top">
    <div class="favor-site">
        <i class="fa fa-weixin" aria-hidden="true"></i>
        <span>点击收藏，关注维新电影<i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
        <div class="favor-guider">

            <a class="favor-btn favor__me" href="javascript:">收藏关注</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="page navbar">
        <div class="weui-tab">
            <div class="weui-navbar">
                <div class="weui-navbar__item " data-role="movie">电影</div>
                <div class="weui-navbar__item " data-role="tv">剧集</div>
                <div class="weui-navbar__item " data-role="anim">动漫</div>
            </div>
            <div class="favor-logo">
                <div class="logo"
                     style="background-image:url({% static 'images/wx_logo.png' %})"></div>
                <div class="desc">
                    <p>维新电影</p>
                    <p>最新电影免费在线观看，快点收藏！</p>
                </div>
                <a href="javascript:" class="weui-btn weui-btn_plain-primary favor__me">收藏本站，防止失联</a>
            </div>
            <div class="weui-search-bar" id="search_bar">
                <form class="weui-search-bar__form">
                    <div class="weui-search-bar__box">
                        <i class="weui-icon-search"></i> <input type="search"
                                                                class="weui-search-bar__input" id="search_input"
                                                                placeholder="搜索"/>
                        <a href="javascript:" class="weui-icon-clear" id="search_clear"></a>
                    </div>
                    <label for="search_input" class="weui-search-bar__label"
                           id="search_text"> <i class="weui-icon-search"></i> <span>搜索</span>
                    </label>
                </form>
                <a href="javascript:" class="weui-search-bar__cancel-btn"
                   id="search_cancel">取消</a>
            </div>
            <div class="say-hello">
                <!--
                    <span>小影提醒您：</span><span class="say-hello-tips"></span>
                 -->
            </div>
            <div class="weui-tab__panel movie-container">
                <div class="category-movie">
                    <div class="title"><span>电影排行榜</span><a href="javascript:" class="btn-more" data-role="movie">更多</a>
                    </div>
                    <div class="movie__panel">
                        <div class="movie-item" data-mid="4760">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://p1.bqimg.com/1949/7064f419b2867c53t.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">TS</div>
                            <div class="name">爱乐之城</div>
                        </div>
                        <div class="movie-item" data-mid="5021">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://p1.bpimg.com/4194/7549de80e8689d84.jpg"></div>
                            <div class="class">动作片</div>
                            <div class="pub-style">HDTC中字</div>
                            <div class="name">生化危机6：终章</div>
                        </div>
                        <div class="movie-item" data-mid="4791">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/5879f789110e4.jpg"></div>
                            <div class="class">剧情片</div>
                            <div class="pub-style">超清中字</div>
                            <div class="name">少年巴比伦</div>
                        </div>
                        <div class="movie-item" data-mid="5025">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/58917d7087e06.jpg"></div>
                            <div class="class">动作片</div>
                            <div class="pub-style">TS抢先版</div>
                            <div class="name">极限特工3：终极回归</div>
                        </div>
                        <div class="movie-item" data-mid="5002">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588c6655480ca.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">HDTC1080P国语中字</div>
                            <div class="name">功夫瑜伽</div>
                        </div>
                        <div class="movie-item" data-mid="5211">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/589dd2a8b7f65.jpg"></div>
                            <div class="class">剧情片</div>
                            <div class="pub-style">TS抢先版</div>
                            <div class="name">决战食神</div>
                        </div>
                        <div class="movie-item" data-mid="5000">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="uploads/allimg/201702/cfabff8c29222453.jpg"></div>
                            <div class="class">动作片</div>
                            <div class="pub-style">HDTC</div>
                            <div class="name">西游伏妖篇</div>
                        </div>
                        <div class="movie-item" data-mid="3950">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2016-12/5840b4f2c973e.jpg"></div>
                            <div class="class">剧情片</div>
                            <div class="pub-style">DVD</div>
                            <div class="name">间谍同盟</div>
                        </div>
                        <div class="movie-item" data-mid="5001">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588c6687cc73b.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">HDTC</div>
                            <div class="name">乘风破浪</div>
                        </div>
                        <div class="movie-item" data-mid="5027">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/58918f7e7ad5c.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">TC720P</div>
                            <div class="name">健忘村</div>
                        </div>
                        <div class="movie-item" data-mid="5006">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588c6e132d1b1.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">HDTC</div>
                            <div class="name">大闹天竺</div>
                        </div>
                        <div class="movie-item" data-mid="4988">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/5888bad5c08a3.jpg"></div>
                            <div class="class">喜剧片</div>
                            <div class="pub-style">超清中字</div>
                            <div class="name">蒙圈天使</div>
                        </div>
                    </div>
                </div>
                <div class="category-tv">
                    <div class="title"><span>剧场排行榜</span><a href="javascript:" class="btn-more" data-role="tv">更多</a>
                    </div>
                    <div class="movie__panel">
                        <div class="movie-item" data-mid="5019">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588f4e336a879.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第36集</div>
                            <div class="name">大唐荣耀</div>
                        </div>
                        <div class="movie-item" data-mid="5040">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/5891d1a1c6053.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第30集</div>
                            <div class="name">乡村爱情进行曲</div>
                        </div>
                        <div class="movie-item" data-mid="5017">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588f4ebb22058.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第39集</div>
                            <div class="name">三生三世十里桃花</div>
                        </div>
                        <div class="movie-item" data-mid="1315">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://p1.bpimg.com/1949/8682c8bb17994c89.jpg"></div>
                            <div class="class">欧美剧</div>
                            <div class="pub-style">更新至09集</div>
                            <div class="name">行尸走肉第七季</div>
                        </div>
                        <div class="movie-item" data-mid="5003">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/588c5da808858.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第29集</div>
                            <div class="name">三生三世桃花源</div>
                        </div>
                        <div class="movie-item" data-mid="4514">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2016-12/586611b0a8dcb.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第15集</div>
                            <div class="name">半妖倾城2</div>
                        </div>
                        <div class="movie-item" data-mid="4119">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2016-12/584f2b2ed32bd.jpg"></div>
                            <div class="class">香港剧</div>
                            <div class="pub-style">更新至17集</div>
                            <div class="name">流氓皇帝粤语</div>
                        </div>
                        <div class="movie-item" data-mid="5115">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/58989f5b0d1c0.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第13集</div>
                            <div class="name">那片星空那片海</div>
                        </div>
                        <div class="movie-item" data-mid="4857">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/587df8189f639.jpg"></div>
                            <div class="class">韩国剧</div>
                            <div class="pub-style">更新至第8集</div>
                            <div class="name">Voice</div>
                        </div>
                        <div class="movie-item" data-mid="4571">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/5869017b04a5d.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第50集</div>
                            <div class="name">守护丽人</div>
                        </div>
                        <div class="movie-item" data-mid="5278">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-02/58a258556a196.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第22集</div>
                            <div class="name">我的室友是狐仙</div>
                        </div>
                        <div class="movie-item" data-mid="4730">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.ffpic.net/vod/2017-01/587472166ac9e.jpg"></div>
                            <div class="class">国产剧</div>
                            <div class="pub-style">更新至第24集</div>
                            <div class="name">射雕英雄传2017版</div>
                        </div>
                    </div>
                </div>
                <div class="category-classic">
                    <div class="title"><span>动漫排行榜</span><a href="javascript:" class="btn-more" data-role="anim">更多</a>
                    </div>
                    <div class="movie__panel">
                        <div class="movie-item" data-mid="3226">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/e31da597a6ec5f87.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">全12集</div>
                            <div class="name">NEW GAME</div>
                        </div>
                        <div class="movie-item" data-mid="2499">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.jisudhw.com/upload/vod/2016-10-07/14758269459.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">已更新至第7集</div>
                            <div class="name">时空使徒日语版</div>
                        </div>
                        <div class="movie-item" data-mid="2231">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://www.jisudhw.com/upload/vod/2016-09-05/147306864326.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">完结</div>
                            <div class="name">全职法师</div>
                        </div>
                        <div class="movie-item" data-mid="2141">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://pic.kk3.cc/pic/uploadimg/2016-8/201682614593850727.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">完结</div>
                            <div class="name">名侦探柯南:纯黑的噩梦</div>
                        </div>
                        <div class="movie-item" data-mid="2142">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://pic.kk3.cc/pic/uploadimg/2016-4/20164121416244500.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">更新至30集</div>
                            <div class="name">女娲成长日记</div>
                        </div>
                        <div class="movie-item" data-mid="2143">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://pic.kk3.cc/pic/uploadimg/2016-4/20140112142005690.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">完结</div>
                            <div class="name">冰雪奇缘/白雪皇后/魔雪奇缘</div>
                        </div>
                        <div class="movie-item" data-mid="1987">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/7ccdd2b254bada23.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">BD高清</div>
                            <div class="name">怪兽大学</div>
                        </div>
                        <div class="movie-item" data-mid="1889">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://p1.bpimg.com/1949/2327b5e290797616.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">BD高清</div>
                            <div class="name">至尊宝归来2</div>
                        </div>
                        <div class="movie-item" data-mid="1868">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/23c27e36040ec190.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">HD高清</div>
                            <div class="name">龙在哪里？</div>
                        </div>
                        <div class="movie-item" data-mid="1869">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/b6064712449d4eb2.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">BD高清</div>
                            <div class="name">鼠来宝4</div>
                        </div>
                        <div class="movie-item" data-mid="1871">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/ec1c96724d2351d2.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">韩语高清</div>
                            <div class="name">你好樱桃</div>
                        </div>
                        <div class="movie-item" data-mid="1874">
                            <div class="cover" data-role="img-wrapper"><img
                                    data-src="http://imgs1.napianzy.com/upload/vod/ppypp/0a7064a1a81b56a6.jpg"></div>
                            <div class="class">动漫</div>
                            <div class="pub-style">两季合集共36集</div>
                            <div class="name">圣痕炼金士 俩季合集</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-footer ">
        <p class="weui-footer__text">电影采集自互联网，影片仅供测试和学习交流</p>
        <p class="weui-footer__text">请大家支持正版，我们正在删除有关版权的视频</p>
        <!--
            <p class="weui-footer__text">Copyright &copy; 2016 最新免费高清电影</p>
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">投诉举报</a>
        </p>
        -->
    </div>
</div>
<div class="mask-window closable">
    <div class="tips">长按二维码，关注维新电影微信公众号</div>
    <i class="fa fa-close close__window"></i>
    <div class="inner__wrapper align-center">
        <div class="favor-qrcode"><img
                src="{% static 'images/wx_qrcode.jpg' %}"></div>
    </div>
</div>


<!-- 底部脚本 -->
<script src="http://sdk.talkingdata.com/app/h5/v1?appid=268370BBAB004166A7B97141F2E19C4C&vn=zxdy-V0.1.1&vc=16.11.1501"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" id="jweixin"></script>
<script type="text/javascript" src="{% static 'lib/js/core.js' %}" id="seajsnode"></script>
<script type="text/javascript"><!--
	seajs.config({
		base: "{% static '/js' %}",
		alias:{
			"jqmobile":"{% static '/lib/js/core-jqms' %}"
		}
	});
	seajs.use("jweixin/main", function(jWeixin){jWeixin.init();window.jWeixin=jWeixin;});
	//-->
</script>

<script type="text/javascript">
		seajs.use("index/main", function(main){main.init();});

</script>

</body>
</html>
